apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: sensor-dashboard
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/akhtarmoin07/goldbeck-smart-building.git' # <--- UPDATE THIS LATER
    targetRevision: HEAD
    path: gitops/charts/sensor-ingestor
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true