name: Enterprise DevSecOps Pipeline

on: [push, pull_request]

jobs:
  # JOB 1: SECURITY & QUALITY SCAN
  security-and-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Shallow clones disable SonarCloud analysis

      # 1. SonarCloud Code Quality Scan
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          # This tells SonarCloud who you are without needing a config file
          args: >
            -Dsonar.organization=akhtarmoin07
            -Dsonar.projectKey=akhtarmoin07_goldbeck-smart-building
            -Dsonar.sources=.
            -Dsonar.host.url=https://sonarcloud.io

      # 2. Trivy IaC & Secret Scan
      # - name: Trivy Vulnerability Scanner
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     scan-type: 'fs'
      #     scan-ref: '.'
      #     scanners: 'vuln,config,secret'
      #     format: 'table'
      #     exit-code: '1'
      #     severity: 'CRITICAL,HIGH'

      # 3. Snyk Python Scan
      - name: Snyk Open Source Scan
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=high --skip-unresolved --file=src/sensor-ingestor/requirements.txt

  # JOB 2: BUILD & PUBLISH TO JFROG
  build-and-publish:
    needs: security-and-quality # Only run if scans pass!
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # 4. Setup JFrog CLI
      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          # We add https:// here because the CLI needs it, but the Secret should just be the domain
          JF_URL: https://${{ secrets.JFROG_URL }} 
          JF_USER: ${{ secrets.JFROG_USER }}
          JF_PASSWORD: ${{ secrets.JFROG_PASSWORD }}

      # 5. Build and Push to JFrog Artifactory
      - name: Build and Push Docker Image
        run: |
          # 1. Authenticate Docker
          # We use the domain WITHOUT https:// for docker login
          jf docker login
          
          # 2. Build the image
          docker build -t ${{ secrets.JFROG_URL }}/goldbeck-docker/sensor-ingestor:latest -f src/sensor-ingestor/Dockerfile src/sensor-ingestor/
          jf docker push ${{ secrets.JFROG_URL }}/goldbeck-docker/sensor-ingestor:latest
          
          # 4. Publish Build Info
          jf rt build-collect-env
          jf rt build-publish