name: Enterprise DevSecOps Pipeline

on: [push, pull_request]

jobs:
  # JOB 1: SECURITY & QUALITY SCAN
  security-and-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Shallow clones disable SonarCloud analysis

      # 1. SonarCloud Code Quality Scan
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.organization=akhtarmoin07
            -Dsonar.projectKey=akhtarmoin07_goldbeck-smart-building
            -Dsonar.sources=.
            -Dsonar.host.url=https://sonarcloud.io

      # 2. Trivy IaC & Secret Scan (Commented out as per your snippet)
      # - name: Trivy Vulnerability Scanner
      #   uses: aquasecurity/trivy-action@master
      #   with:
      #     scan-type: 'fs'
      #     scan-ref: '.'
      #     scanners: 'vuln,config,secret'
      #     format: 'table'
      #     exit-code: '1'
      #     severity: 'CRITICAL,HIGH'

      # 3. Snyk Python Scan
      - name: Snyk Open Source Scan
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=high --skip-unresolved --file=src/sensor-ingestor/requirements.txt

  # JOB 2: BUILD & PUBLISH TO DOCKER HUB
  build-and-publish:
    needs: security-and-quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # 1. Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 2. Build and Push "latest"
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: src/sensor-ingestor
          file: src/sensor-ingestor/Dockerfile
          push: true
          tags: akhtarmoin07/sensor-ingestor:latest