name: Supply Chain Security Scan

on: [push, pull_request]

jobs:
  security-scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # 1. Scan for Vulnerabilities in Source Code (SCA)
      - name: Source Code Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          format: 'table'
          severity: 'CRITICAL,HIGH'

      # 2. Scan Infrastructure as Code (Terraform & Kubernetes)
      # This checks for things like "S3 bucket is public" or "Root container"
      - name: IaC Misconfiguration Scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'config'
          hide-progress: false
          format: 'table'
          exit-code: '1' # Fail the build if Terraform is insecure!
          severity: 'CRITICAL,HIGH'

      # 3. Scan for Hardcoded Secrets
      # This prevents passwords/keys from leaking into Git
      - name: Full Security Scan (SCA, IaC & Secrets)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'           # Look at the whole filesystem
          scan-ref: '.'             # Start from the root
          format: 'table'
          exit-code: '1'            # Fail if CRITICAL/HIGH are found
          severity: 'CRITICAL,HIGH'
          # THIS IS THE KEY: List multiple scanners here
          scanners: 'vuln,config,secret'


        # 4. Snyk Vulnerability Scan (Deep Code Analysis)
      - name: Snyk Open Source Scan
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=high --skip-unresolved